body
{
    margin: auto;
    padding: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: lightgray;
}
.img_gal1
{
    width: 62%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 565px 250px 900px;
    background-color: black;
    margin-top: 2%;
}
.img_gal1 img, .img_gal2 img, .img_gal3 img
{
    height: 200px;
}
.img_gal2
{
    width: 62%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 175px 455px 185px;
    background-color: black;
    padding-top: 15px;
}
.img_gal3
{
    width: 62%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 415px 415px;
    background-color: black;
    padding-top: 15px;
}
.img_gal4
{
    width: 62%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 275px 275px 275px;
    background-color: black;
    padding-top: 15px;
}
.img_gal4 img
{
    height: 100px;
}
/* .grid1
{
    display: flex;
    flex-direction: column;
}
.grid2
{
    background-color: black;
    width: 20%;
    height: 800px;
    display: flex;
    flex-direction: column;
}  */
