.bd-placeholder-img
{
    margin-left: 25%;
}
.content2
{
    margin-top: 10%;
}
.footer-links a
{
    text-decoration: none;
}
hr
{
    width: 90%; 
    text-align: center; 
    margin-left: 5%; 
    margin-top: 4%;
}