body 
{
  margin: 0;
}
.app-counter
{
  width: 60%;
  height: auto;
  margin: auto;
  padding: 20px;
  margin-top: 5%;
  background-color: aliceblue;
}
button 
{
  width: 180px;
  height: auto;
  padding: 8px;
  background-color: black;
  color: white;
  border: none;
  margin: 5px;
  font-size: 28px;
}