body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.nav-links
{
  width: auto;
  height: auto;
  margin-left: 30%;
}
.nav-links li
{
  display: inline-block;
  padding: 5px 25px;
}
.nav-links a
{
  list-style-type: none;
  text-decoration: none;
  color: white;
}