body
{
    margin: 0;
    padding: 0;
    /* color schema */
    /* background: rgba(0,0,255,0.4); */
    /* background-color: blueviolet; */
    /* background-color: #000000; */
    /* background-color: #ffffff; */
    background-color: #460a5c;
}